################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FI.WebAtividadeEntrevista/FileContentIndex/7e2e2dd8-3335-40a9-b39f-6490257b87ee.vsidx
/.vs/FI.WebAtividadeEntrevista/FileContentIndex/b0ca78b1-841b-4e1b-a792-b56a471dc4b7.vsidx
/.vs/FI.WebAtividadeEntrevista/FileContentIndex/d3713f1f-213c-44c3-b010-533266f4dcdb.vsidx
/.vs/FI.WebAtividadeEntrevista/FileContentIndex/db2859e9-7e2d-4709-905f-361dea5dd905.vsidx
